<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>



    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <h1>Form</h1>

                <form th:action="@{/user/form}" th:object="${user}" method="POST" enctype="utf8">
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <p>Please Correct Errors Below</p>
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input th:field="*{firstName}" class="form-control">
                        <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input th:field="*{lastName}" class="form-control"/>
                        <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" th:field="*{email}" class="form-control"/>
                        <span class="help-block" th:if="${#fields.hasErrors('email')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" th:field="*{password}"  class="form-control"/>
                        <span class="help-block" th:if="${#fields.hasErrors('password')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <input type="password" th:field="*{matchingPassword}" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>



                <a th:href="@{/user/login.html}">Login</a>
            </div>
        </div>
    </div>


</body>
</html>