<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row pt-3">
        <div class="col-lg-10 offset-lg-1">
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                <form th:action="@{/user/logout}" method="post">
                    <input type="submit" value="Sign Out" class="btn btn-primary"/>
                </form>
        </div>
    </div>
    <div class="row pt3">
        <div class="col-lg-10 offset-lg-1">
            <a class="btn btn-primary" th:href="@{/things/show}">Show things to do</a>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-lg-10 offset-lg-1">
            <a class="btn btn-primary" th:href="@{/things/form}">Add things to do</a>
        </div>
    </div>
</div>

</body>
</html>