<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>

    <div class="container">
        <div class="row pt-3">
            <div class="col-lg-8">
                <h1> Do SMART things</h1>
            </div>
            <div class="col-lg-2 text-center pt-3">
                <a th:href="@{/user/registration}" >Register</a>
            </div>
            <div class="col-lg-2 text-center pt-3" sec:authorize="isAnonymous()">
                <a th:href="@{/user/login}" >Login</a>
            </div>
            <div class="col-lg-2 text-center pt-3" sec:authorize="isAuthenticated()">
                <a th:href="@{/user/logout}">Log out</a>
            </div>
        </div>
        <div class="row pt-3" sec:authorize="isAuthenticated()">
            <div class="col-lg-3 offset-lg-1">
                <a class="btn btn-primary" th:href="@{/things/show}">Show things to do</a>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <a class="btn btn-primary" th:href="@{/things/form}">Add things to do</a>
            </div>
        </div>
    </div>

</body>
</html>